{% load %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Usuário</title>
</head>

{% include "usuarios/partials/header.html" %}

<body>
    <h1>Atualizar Usuário</h1>
    <form action="/atualiza" method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br>
        <label for="data_nascimento">Data de Nascimento:</label><br>
        <input type="date" id="data_nascimento" name="data_nascimento" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="pais_trabalho">País que deseja trabalhar:</label><br>
        <input type="text" id="pais_trabalho" name="pais_trabalho" required><br><br>
        <input type="submit" value="Atualizar">
    </form>
</body>
</html>
