<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Usuários</title>
</head>
<body>
    <h1>Pesquisar Usuários</h1>
    <form action="{% url 'pesquisar_usuarios' %}" method="GET">
        <input type="text" name="q" placeholder="Digite o nome do usuário">
        <button type="submit">Pesquisar</button>
    </form>
    
    <ul>
        {% for usuario in usuarios %}
        <li>{{ usuario.nome }}</li>
        {% empty %}
        <li>Nenhum usuário encontrado.</li>
        {% endfor %}
    </ul>
</body>
</html>
